<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>{{pageTitle}}</h1>      
            <p>For his glory</p>
        </div>
    </div>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/projects">Projects</a></p>
</header> 
