<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jordan Rosa Life Coaching</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>
    </body>

{{> footer}}

</html>