<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        <div class="container">
            {{> header}}
            <p>{{screamIt welcomeMessage}}</p>
        </div>
    </body>

{{> footer}}

</html>